body, html {
    background-color: black;
    height: 100%;
    margin: auto;
}

#play {
    position: absolute;
    width: 363.47px;
    height: 86px;
    left: 50%;
    top: 50%;
    margin-left: -181.74px;
    margin-top: -43px;
    color: white;
    font-weight: bold;
    font-size: 400%;
    background-color: rgb(38, 209, 38);
    border: 5px solid rgb(38, 209, 38);
    border-radius: 20px;
    outline: none;
}

#play:hover {
    transform: scale(1.03);
    box-shadow: rgba(255, 255, 255, 0.61) 0px 0px 30px;
    cursor: pointer;
}

#computerPile {
    position: absolute;
    display: flex;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
#cpuCards {
    margin: auto;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 600%;
    font-weight: bold;
}

#colorGrid {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 0;
}

div[id^="cell"] {
    width: 100px;
    height: 100px;
}
#cellGreen {
    background-color: #008842;
}
#cellBlue {
    background-color: #0095da
}
#cellYellow {
    background-color: #ffe119;
}
#cellRed {
    background-color: #ed1c1c;
}

#cellGreen:hover, #cellBlue:hover, #cellYellow:hover, #cellRed:hover {
    transform: scale(1.15);
    box-shadow: rgba(255, 255, 255, 0.61) 0px 0px 70px;
    cursor: pointer;
}

#deckPile {
    position: absolute;
    width: 85px;
    height: 133px;
    left: 25%;
    top: 50%;
    margin-left: -42.5px;
    margin-top: -66.5px;
    pointer-events: none;
}

#deckPile:hover {
    transform: scale(1.04);
    box-shadow: rgba(255, 255, 255, 0.61) 0px 0px 70px;
    cursor: pointer;
}

#discardPileCard {
    position: absolute;
    width: 85px;
    height: 133px;
    left: 50%;
    top: 50%;
    margin-left: -42.5px;
    margin-top: -66.5px;
    pointer-events: none;
}

#displayCards {
    display: flex;
    height: 80%;
    justify-content: center;
    align-items: flex-end;
    padding: 0px 10px;
}

div[id^="r"], div[id^='y'], div[id^="g"], div[id^="b"], div[id^="w"] {
    width: 85px;
    height: 133px;
}

#red1 {
    background: url('unoDeck.png') 0 0;
}
#red2 {
    background: url('unoDeck.png') -85.5px 0;
}
#red3 {
    background: url('unoDeck.png') -171px 0;
}
#red4 {
    background: url('unoDeck.png') -256.5px 0;
}
#red5 {
    background: url('unoDeck.png') -342px 0;
}
#red6 {
    background: url('unoDeck.png') -427.5px 0;
}
#red7 {
    background: url('unoDeck.png') -513px 0;
}
#red8 {
    background: url('unoDeck.png') -598.5px 0;
}
#red9 {
    background: url('unoDeck.png') -684px 0;
}
#red0 {
    background: url('unoDeck.png') -769.5px 0;
}


#yellow1 {
    background: url('unoDeck.png') 0 -134px;
}
#yellow2 {
    background: url('unoDeck.png') -85.5px -134px;
}
#yellow3 {
    background: url('unoDeck.png') -171px -134px;
}
#yellow4 {
    background: url('unoDeck.png') -256.5px -134px;
}
#yellow5 {
    background: url('unoDeck.png') -342px -134px;
}
#yellow6 {
    background: url('unoDeck.png') -427.5px -134px;
}
#yellow7 {
    background: url('unoDeck.png') -513px -134px;
}
#yellow8 {
    background: url('unoDeck.png') -598.5px -134px;
}
#yellow9 {
    background: url('unoDeck.png') -684px -134px;
}
#yellow0 {
    background: url('unoDeck.png') -769.5px -134px;
}


#green1 {
    background: url('unoDeck.png') 0 -267px;
}
#green2 {
    background: url('unoDeck.png') -85.5px -267px;
}
#green3 {
    background: url('unoDeck.png') -171px -267px;
}
#green4 {
    background: url('unoDeck.png') -256.5px -267px;
}
#green5 {
    background: url('unoDeck.png') -342px -267px;
}
#green6 {
    background: url('unoDeck.png') -427.5px -267px;
}
#green7 {
    background: url('unoDeck.png') -513px -267px;
}
#green8 {
    background: url('unoDeck.png') -598.5px -267px;
}
#green9 {
    background: url('unoDeck.png') -684px -267px;
}
#green0 {
    background: url('unoDeck.png') -769.5px -267px;
}


#blue1 {
    background: url('unoDeck.png') 0 -401px;
}
#blue2 {
    background: url('unoDeck.png') -85.5px -401px;
}
#blue3 {
    background: url('unoDeck.png') -171px -401px;
}
#blue4 {
    background: url('unoDeck.png') -256.5px -401px;
}
#blue5 {
    background: url('unoDeck.png') -342px -401px;
}
#blue6 {
    background: url('unoDeck.png') -427.5px -401px;
}
#blue7 {
    background: url('unoDeck.png') -513px -401px;
}
#blue8 {
    background: url('unoDeck.png') -598.5px -401px;
}
#blue9 {
    background: url('unoDeck.png') -684px -401px;
}
#blue0 {
    background: url('unoDeck.png') -769.5px -401px;
}


#redSkip {
    background: url('unoDeck.png') 0 -534px;
}
#redReverse {
    background: url('unoDeck.png') -85.5px -534px;
}
#redPlus2 {
    background: url('unoDeck.png') -171px -534px;
}
#yellowSkip {
    background: url('unoDeck.png') -256.5px -534px;
}
#yellowReverse {
    background: url('unoDeck.png') -342px -534px;
}
#yellowPlus2 {
    background: url('unoDeck.png') -427.5px -534px;
}
#greenSkip {
    background: url('unoDeck.png') -513px -534px;
}
#greenReverse {
    background: url('unoDeck.png') -598.5px -534px;
}
#greenPlus2 {
    background: url('unoDeck.png') -684px -534px;
}
#blueSkip {
    background: url('unoDeck.png') -769.5px -534px;
}


#blueReverse {
    background: url('unoDeck.png') 0 -668px;
}
#bluePlus2 {
    background: url('unoDeck.png') -85.5px -668px;
}
#wild {
    background: url('unoDeck.png') -171px -668px;
}
#wildPlus4 {
    background: url('unoDeck.png') -342px -668px;
}

div[id^="r"]:hover, div[id^='y']:hover, div[id^="g"]:hover, div[id^="b"]:hover, div[id^="w"]:hover {
    margin-bottom: 35px;
    box-shadow: rgba(255, 255, 255, 0.61) 0px 0px 70px;
    cursor: pointer;
}